body {
  background-color: rgb(0, 0, 0);
  /* overflow-y: hidden; */
}
/* .game-image{
    background-image: url("images/Jeu-figma.jpg");

  /* Full height */
/* height: 100vh;
  width: 100vw; */

/* Center and scale the image nicely */
/* background-position: center; */
/* background-repeat: no-repeat; */
/* background-size:contain; */

/* } */

.zoom {
  height: 100vh;
  width: 100vw;
  object-fit: fill;
}
.score-kar {
  position: absolute;
width: 37px;
height: 8px;
left: 34px;
top: 38px;

font-family: "gothammedium";
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 8px;
/* identical to box height */

text-align: center;
letter-spacing: 2px;

/* BLEU */

color: #0AEFF7;

transform: rotate(-90deg);
}

.scoreboard{
  position: absolute;
  width: 71px;
  height: 17px;
  left: 61px;
  top: 20px;
  
  font-family: "gothammedium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #FFFFFF;
}

.x{
  position: absolute;
width: 72px;
height: 17px;
top: 37px;


font-family: "gothammedium";
font-style: normal;
font-weight: 500;
font-size: 18px;
color: rgba(255, 255, 255, 0.3);
/* line-height: 17px;
text-align: center;
letter-spacing: 16px; */

/* color: #0AEFF7; */
}
.x1{
  left: 64px;
}

.x2{
  left: 87px;
}

.x3{
  left: 113px;
}

.logo-game{
  position: absolute;
height: 150px;
right: 22px;
top: 22px;
}

.minus-zoom{
  position: absolute;
  width: 8px;
  height: 11px;
  left: 40px;
  top: 937px;
  /* -100px */
  
  font-family: "gothammedium";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 16px;
  
  color: #FFFFFF;

}

.plus-zoom{
  position: absolute;
  width: 8px;
  height: 11px;
  left: 40px;
  top: 794px;
  
  font-family: "gothammedium";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 16px;
  
  color: #FFFFFF;
}

.zoom-meter{
  position: absolute;
  border-left: 1px solid;
  height: 124px;
left: 42px;
top: 813px;
border-color: rgba(217, 217, 217, 1);
}

.zoom-zoom{
  position: absolute;
width: 39px;
height: 7px;
left: 25px;
top: 770px;

font-family: "gothammedium";
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 8px;
text-align: center;

/* BLEU */

color: #0AEFF7;

transform: rotate(-90deg);
}

.results{
  border: 1px solid #FFFFFF;
  position: absolute;
width: 140px;
height: 16px;
left: 118px;
top: 95%;
text-decoration: none;

font-family: "gothammedium";
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 8px;
cursor: pointer;

text-align: center;
justify-content: center;
letter-spacing: 2px;
text-transform: uppercase;

color: #FFFFFF;
}

.results::before{
  content: url("images/icon-search-9x9.png");
  width: 5px;
  height: 5px;
}

#overlay-kar{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.623);
  transform: scale(0);
}

#input-field{
  /* width: 526px; */
  /* position: absolute; */
  /* top:501px; */
  /* left:697px; */
  font-size: 80px;
  line-height: 77px;
  text-align: center;
  letter-spacing: 0.02em;
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
}
#input-field:focus{
  border-bottom: 1px solid rgba(255, 255, 255, 0.425);
}
.lezanda{
  font-family: "gothammedium";
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 12px;
text-align: center;
letter-spacing: 5px;
color: #FFFFFF;
}

/* #u-win{
  position: absolute;
  width:100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.623);
  transform: scale(0);
} */
#u-win{
  position: absolute;
  width:100vw;
  height: 100vh;
  font-family: "gothammedium";
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  color: #FFFFFF;
  transform: scale(0);
}

#u-win.anim{
  animation: 1s fadeOut forwards;
}

@keyframes fadeOut1 {
  0%{ opacity: 100%;
    transform: scale(1);
  }
  99%{transform: scale(1);}
  100%{ opacity: 0%;
    transform: scale(0);}
}

.gtext{
  font-family: "gothammedium";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 5px;
  color: #FFFFFF;
}

.wc{
  position: absolute;
  top:300px;
  left:410px;
  font-size: 20px;
}

.vt{
  position: absolute;
  top:340px;
  left:445px;
}

.tt{
  position: absolute;
  top:372px;
  left: 493px;
}

#trouves{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.623);
  transform: scale(0);
  color: white;
}
.trouv-title{
  /* position: absolute;
  width: 526px;
  height: 77px;
  left: 90px;
  top: 247px; */
  
  font-family: "gothammedium";
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 77px;

  text-align: center;
  letter-spacing: 0.02em;
  
  color: #FFFFFF;
}
.obj-bg{
  width: 434px;
  height:434px;
}
.obj-p{
  max-width: 765px;
  height: 434px;
  overflow-y: hidden;
  /* position: absolute;
width: 642px;
height: 457px; */
/* left: 567px;
top: 368px; */

font-family: "gothammedium";
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;

color: #FFFFFF;
}

.btn-style-off{
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: none;
  border-bottom: none;
  color: white;
  cursor: pointer;
  width: 100px;
  font-family: "gothammedium";
  font-size: 11px;
}
.btn-style-off:hover{
  text-decoration: none;
  background-color: white;
  border-left: 1px solid rgb(22, 170, 207);
  border-right: 1px solid rgb(199, 88, 140);
  border-top: none;
  border-bottom: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  width: 100px;
  font-family: "gothammedium";
  font-size: 11px;
}

#close-img{
  cursor: pointer;
}

.kar-list-wrap{
  overflow-wrap: normal;
}

.my-zoom-index{
  position: absolute;
  top: -5%;
}

#wrong{
  position: absolute;
  font-family: "gothammedium";
  font-style: normal;
  font-weight: 500;
  font-size: 600px;
  color: #FFFFFF;
  transform: scale(0);
  
}
#wrong.animation{
  animation: makeError 1s forwards;
}

@keyframes makeError {
  0%{
    opacity: 100%;
    transform: scale(1);
  }
  25%{
    opacity: 0%;
    transform: scale(1);
  }
  26%{
    opacity: 100%;
    transform: scale(1);
  }
  99%{
    transform: scale(1);
  }
  100%{
    opacity: 0%;
    transform: scale(0);
  }
}

#dj-trou{
  position: absolute;
  width:100vw;
  height: 100vh;
  font-family: "gothammedium";
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  color: #FFFFFF;
  transform: scale(0);
}

#dj-trou.anim{
  animation: 1s fadeOut forwards;
}

@keyframes fadeOut {
  0%{ opacity: 100%;
    transform: scale(1);
  }
  99%{transform: scale(1);}
  100%{ opacity: 0%;
    transform: scale(0);}
}

#game-over{
  position: absolute;
  width:100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  transform: scale(0);
}

.game-from-gameover{
  position: relative;
left: -54px;
top: -281px;
}

.over-from-gameover{
  position: relative;
left: 46px;
top: -295px;
}
#mediaCheck{
  position: absolute;
  width:100vw;
  height: 100vh;
  background-image: url("images/badsignal.gif");
  background-size: cover;
  transform: scale(0);
  color: white;
  font-size: 25px;
}

#myCheck{
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #ffaaff;
	/* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); */
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
/* #myCheck:active, .myCheck:checked:active {
	box-shadow: 0 1px 2px rgb(241, 6, 6), inset 0px 1px 3px rgb(41, 190, 11);
} */

#myCheck:checked {
	background-color: transparent;
	/* border: 2px solid #3f053f; */
	/* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1); */
	color: #cc0f0f;
}

#myCheck:checked:after {
	/* content: '\2714'; */
  content: "";
  background-color: #ffaaff;
	/* font-size: 14px; */
	position: absolute;
  width: 10px;
  height: 10px;
	top: 5px;
	left: 4px;
	color: #ffaaff;
}

.finalist{
  font-family: "gothammedium";
  padding: 5px;
}
#secret{
  font-family: "gothammedium";
  writing-mode: vertical-rl;
  /* transform: rotate(90deg); */
}

#box-stats{
  width: 427px;
  height: 427px;
  /* background-color: #cc0f0f; */
}

@media only screen and (max-height: 910px) {
  #mediaCheck{
    transform: scale(0);
  }
}

@media only screen and (max-width: 1200px) {
  #mediaCheck{
    transform: scale(1);
  }
}